{% extends 'base.html.twig' %}

{% block title %}Hello ServicsController!{% endblock %}

{% block body %}
 <!--Services-->
    <section class="services">
        <div class="container">
           <h2>Nos Services</h2>
            <div class="row">
                <div class="col-sm-12 col-12 box-1"  data-aos="fade-up" data-aos-delay="300">
                    <div class="row box">
                        <div class="col-sm-1 col-12">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11 col-12">
                            <h3><a href="services.html">design.</a></h3>
                            <p>Nous offrons une approche créative et collaborative pour donner vie à vos idées en ligne. En nous associant à d'autres talents indépendants, nous combinons notre expertise en développement web avec la créativité des designers pour créer des solutions uniques et percutantes. De la conception de sites web attrayants à la création de logos distinctifs et de visuels accrocheurs, nous sommes déterminés à offrir à nos clients des designs qui se démarquent et captivent leur audience. </p>
                            <p>Avec notre engagement envers l'excellence et notre approche axée sur la collaboration, nous sommes prêts à transformer votre vision en une réalité numérique exceptionnelle.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-12 box-2"  data-aos="fade-up" data-aos-delay="300">
                    <div class="row box">
                        <div class="col-sm-1 col-12">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11 col-12">
                            <h3><a href="blog.html">Dévelopement Web</a></h3>
                            <p>Notre service de développement web spécialisé utilise les puissantes plateformes de WordPress et Symfony pour créer des sites web dynamiques et performants. Avec WordPress, nous offrons des solutions conviviales et flexibles pour les sites vitrines, les blogs et les sites e-commerce. Quant à Symfony, notre expertise nous permet de développer des applications web personnalisées et évolutives, répondant aux besoins spécifiques de nos clients.</p>
                            <p>Que vous cherchiez à établir une présence en ligne professionnelle ou à développer une application web robuste, notre équipe expérimentée est prête à transformer vos idées en réalité numérique.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-12 box-2"  data-aos="fade-up" data-aos-delay="300">
                    <div class="row box">
                        <div class="col-sm-1 col-12">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11 col-12">
                            <h3><a href="blog.html">Conseil</a></h3>
                            <p>Notre service de conseil est conçu pour aider nos clients à prendre des décisions éclairées et à faire les bons choix. Forts de notre expertise et de notre expérience dans le domaine, nous offrons des conseils personnalisés et avisés pour guider nos clients à travers les défis et les opportunités auxquels ils font face. Que ce soit pour choisir la meilleure technologie, élaborer une stratégie digitale efficace ou optimiser leur présence en ligne, nous sommes là pour les accompagner à chaque étape. Notre objectif est de fournir des recommandations pratiques et pragmatiques qui permettent à nos clients d'atteindre leurs objectifs avec succès.</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-12 box-2"  data-aos="fade-up" data-aos-delay="300">
                    <div class="row box">
                        <div class="col-sm-1 col-12">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11 col-12">
                            <h3><a href="blog.html">Marketing digital</a></h3>
                            <p>Notre service de marketing digital offre une approche stratégique et ciblée pour propulser la présence en ligne de nos clients. Avec une combinaison de techniques éprouvées telles que le référencement naturel (SEO), la publicité en ligne, les médias sociaux et le marketing de contenu, nous aidons nos clients à atteindre leurs objectifs commerciaux et à maximiser leur visibilité sur le web. Notre équipe expérimentée élabore des stratégies sur mesure pour chaque client, en mettant l'accent sur le retour sur investissement (ROI) et l'engagement de l'audience.</p>
                            <p>Que vous cherchiez à générer des leads, à accroître votre notoriété de marque ou à augmenter vos ventes en ligne, nous sommes là pour vous aider à réussir dans le monde numérique d'aujourd'hui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
{% endblock %}
